.activityCard {
  display: flex;
  flex-direction: column;

  .emphasizedText {
    font-weight: bold;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .activitySubCard {
    margin: 20px 10px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
}
