.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;

  &__menuContainer {
    display: none;

    @media screen and (max-width: 600px) {
      display: flex;
      justify-content: flex-start;
      flex-grow: 1;
    }
  }

  &__menuButton {
    padding: 0;
    margin-left: 10px;
  }

  &__menu {
    display: none;

    @media screen and (max-width: 600px) {
      display: flex;
    }
  }

  &__logo {
    flex-grow: 0;
    margin-right: 20px;
    margin-left: 10px;

    @media screen and (max-width: 600px) {
      flex-grow: 1;
    }
  }

  .MuiBadge-dot {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  &__links {
    flex-grow: 1;
    display: flex;
    align-items: center;

    button {
      color: white;
      margin-left: 5px;
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &__logoutButton {
    flex-grow: 0;
  }

  &__loginButton {
    flex-grow: 0;
  }
}
